@import
    url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
    background: #f0d4d4
}

.searchBox{
    width: 100%;
    position: relative;
    
}
.searchTerm{
    float: left;
    width: 100%;
    border: 4px solid #00B4CC;
    color: #9DBFAF;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    color: #9DBFAF;
}
.searchButton{
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    opacity: 0;
    cursor: pointer;
    
}
.wrap{
    width: 30%;
    margin: 10% auto;
}