#Content {
    position:relative;
    width: 700px;


}
#LeftBox {
    position:absolute;
    background-color: lightgrey;
    width: 300px;
    left: 0px;
    top:50px;
    border-style: solid;
    padding-left: 20px;
    text-align: center;
    bor

}
#MiddleBox{
    position:absolute;
    left:400px;
    top:50px;
    width:300px;
/*            right:0px;*/
    background-color: cyan;
    padding-left: 20px;
    border-style: dotted;
    padding-right: 20px;


}
#RightBox{
    position:absolute;
    border-style: dashed;
    left:800px;
    width:300px;
    height:200px;
    top:50px;
}
#Inset{
    position:absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    background-color: red;
    width: 40px;
}
h1{
    color: black;
    font-weight: 700;
    text-align: center;    
}
p{
    color: brown;
    font-weight: 600;
}
.emphasis{
    font-size: 25px;
    color:green
}
a:link{
    color: #570d0d;
}
a:hover{
    color: cyan;
}
a:visited{
    color: green;
}